<configuration>
  <configSections>
    <section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
  </configSections>
  <operation name="Migrate Product Data" enabled="true" type="MigrationCommandLineRunner.Operations.MigrateProductData, Sitefinity.Migration.Runner">
  </operation>
</configuration>

