<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="operation" type="UConnector.Config.Configuration.OperationSection, UConnector.Framework" />
	</configSections>
	<operation name="ExportSitefinityProductsToLocalCsvFile" enabled="true" type="UConnector.Samples.Operations.UCommerce.DataMigration.MigrateProductData, UConnector.Samples">
		<confs>
			<conf name="FilesToLocalDirectory">
				<options>
					<option name="Directory" value="C:\uConnector\ExportFiles\" />
					<option name="Overwrite" value="true" />
				</options>
			</conf>
		</confs>
		<cronSchedules>
			<!-- Sec, min, hour, day, month, day-of-week(MON-FRI) -->
		  <cronSchedule name="every 5 seconds" cron="0/5 * * * * ?"/>
		</cronSchedules>
	</operation>
</configuration>